<div id="divForSlider">

    <div id="buttonsAndImgDiv">

        <div id="buttonPreviousDiv">
            <button id="previousButton">Previous</button>
        </div>

        <div id="divImg">
            <img id="k1" src="../wwwroot/Img/alone_human_in_neoncity_Kandinsky_2.1.jpg" />
            <img src="../wwwroot/Img/neoncity lamborghini_Kandinsky_2.1.jpg" />
            <img src="../wwwroot/Img/neoncity_Kandinsky_2.1.jpg" width="600" height="400" />
            <img src="../wwwroot/Img/neoncity_lamborghini_Kandinsky_2.1(1).jpg" width="600" height="400" />
            <img src="../wwwroot/Img/retrowave_city_Kandinsky_2.1.jpg" width="600" height="400" />
        </div>

        <div id="buttonNextDiv">
            <button id="nextButton"> Next</button>
        </div>

    </div>

    <div id="divDescription"></div>

</div>