* {
    margin: 0;
}

body {
    position: absolute;
    background-color: rgb(80, 10, 10);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#allWindow {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: dimgrey;
}

/*Комбинированный селектор - применяется ко всем элементам*/
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

.video-container {
    display: inline-block;
    margin: 4px;
}

    .video-container:hover {
        background-color: blue;
        color: white;
    }

/*Глобальные стили для хедеров на всём сайте*/
header {
    height: 150px;
    color: bisque;
    background-color: rgb(80, 10, 10);
}

    header h1 {
        margin: 0;
        margin-left: 20px;
        padding-top: 40px;
    }

    header p {
        margin: 0;
        margin-left: 20px;
        padding-top: 20px;
    }


footer {
    height: fit-content;
    padding: 10px;
    font-size: medium;
    color: darkcyan;
    background-color: rgb(80, 10, 10);
    line-height: 2em; /*межстрочный интервал*/
}

    footer p {
        margin: 0;
    }

aside {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    background-color: rgb(80, 10, 10);
}


#asideMain {
    position: relative;
    display: flex;
    height: 72%;
    margin: 0;
    padding: 0;
}


main {
    position: relative;
    display: inline-flex;
    height: 100%;
    left: 15%;
    width: 85%;
    margin: 0;
    padding: 0;
    background-color: bisque;
    text-align: center;
}


/* Стили кнопок aside */
#navbarButton {
    color: gold;
    border-left: none;
    border-right: none;
    background-color: rgb(80, 10, 10);
    border-color: bisque;
}

    #navbarButton:hover {
        color: black;
        border-left: none;
        background-color: #7BA7AB;
        border-color: bisque;
    }
/*НАЧАЛО поле поиска трансляции по сайту*/
* {
    box-sizing: border-box;
}

#divForm {
    background-color: #7BA7AB;
}

form {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

    input:hover {
        background-color: yellow;
    }

#searchButton {
    position: absolute;
    top: 0;
    right: 0px;
    width: fit-content;
    font: x-large;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
/*КОНЕЦ поле поиска трансляции по сайту*/

/*НАЧАЛО кнопки навигации по сайту*/
#asideLower button {
    display: block;
    width: 100%;
    height: 40px;
    /*border: 2px solid red;*/
    border-left: none;
    border-right: none;
    margin: 0;
}

#asideUpper {
    height: 70px;
}

#asideLower, #asideUpper {
    padding: 0;
    margin: 0;
}
/*КОНЕЦ кнопки навигации по сайту*/

/*НАЧАЛО поля с комментариями*/
#forComments {
    position: relative;
    width: 30%;
    height: 100%;
}
.commentsHeader {
    position: relative;
    padding-left: 50px;
    background-color: #7BA7AB;
    /*ниже параметры, чтобы выровнять по центру(вертикаль)*/
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 6%;
    width: 100%;
}

.mainCommentsField {
    position: relative;
    width: 100%;
    height: 94%;
    top: 0;
    margin: 0;
    overflow-y: scroll;
}

.commentDivCommentDivLikes {
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 80%;
    word-wrap: break-word;
}
.divUserData {
    padding: 5px;
    text-align: left;
    position: relative;
    background-color: white;
    border-radius: 10px 10px 0 0;
    font-style: italic;
    font-weight: bold;
    word-wrap: break-word;
}
.divCommentText {
    padding: 5px;
    position: relative;
    text-align: left;
    background-color: white;
    border-radius: 0 0 10px 0;
    word-wrap: break-word;
}
.divLikesDislikes {
    padding: 5px;
    position: relative;
    /*display: inline-flex;*/
}
.divLikesButton {
    position: relative;
}
.divDislikesButton {

    position: relative;
}
.divLikesCount {
    width: 100px;
}
.divDislikesCount {
    width: 100px;
}
/*КОНЕЦ поля с комментариями*/

/*Начало слайдера*/
#divForSlider {
    position: relative;
    display: grid;
    margin: 0;
    padding: 0;
    /*border: 10px solid #7BA7AB;*/
    width: 70%;
}

#buttonsAndImgDiv {
    position: absolute;
    display: inline-flex;
    width: 100%;
    height: 80%;
    text-align: center;
}


    #buttonsAndImgDiv buttonPreviousDiv, buttonNextDiv {
        width: 20%;
    }

#previousButton, #nextButton {
    width: 100%;
    height: 100px;
    background-color: #7BA7AB;
    border: none;
    font-family: 'Arial Black', Gadget, sans-serif;
    color: white;
    font-size: 140%;
    text-shadow: 2px 0 2px #000, 0 2px 2px blue, -2px 0 2px #000, 0 -2px 2px pink;
}

#buttonPreviousDiv, #buttonNextDiv {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 10%;
    word-wrap: break-word;
/*    justify-content: center;
    align-items: center;*/
}

#buttonNextDiv {
    left: 80%;
}

#divImg {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    /* margin-left: auto; */
    /* margin-right: auto; */
    border: 10px solid #7BA7AB;
    /* justify-content: center; */
    align-items: center;
    /*scroll-snap-type: y mandatory;*/
}
#imgsDiv {
    position: absolute;
    display: inline-flex;
    transition: all 0.5s ease-in-out;
}

img {
    width: 100%;
    height: auto;
    position: relative;
    transition: all 0.5s ease-in-out;
    flex-shrink: 0;
    /*scroll-snap-align: start;*/
}

#divDescription {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 80%;
    background: #7BA7AB;
}
/*конец слайдера*/
