body {
    background-color: aqua;
    padding: 0;
    margin: 0;
}

/*Комбинированный селектор - применяется ко всем элементам*/
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

.video-container {
    display: inline-block;
    margin: 2px;
}

.video-container:hover {
    background-color: blue;
    color: white;
}

.navbar {
    color: darkgray;
}

/*Глобальные стили для хедеров на всём сайте*/
header {
    position: relative;
    color: black;
    padding: 10px 10px 10px 30px;
}

footer {
    bottom: 0;  /*Левый нижний угол */
    padding: 10px 10px 10px 30px;  /*Поля вокруг текста*/
    font-size: medium;
    color: darkcyan;
    line-height: 66%; /*межстрочный интервал*/
}

aside {
    width: 20%;
    border: 2px solid greenyellow;
    background-color: burlywood;
    padding: 0px;
    /*height: 100%;  Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    /*position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    /*z-index: 1;*/
    top: 0;  /*Сайдбар будет в самой верхней части страницы */
    left: 0;
    font-size: large;
}


#asideMain {
    position: relative;
    width: 100%;
    height: 100%;
    min-height:600px;
    display: inline-flex;
}

main {
    display: inline;
    width: 100%;
    height: 100%;
    margin: 0;
}

.bordered {
    position: relative;
    border: 2px solid red;
    background-color: grey;
    text-align: center;
    display: inline-block;
    width: 100%;
}

/* Стили панели навигации */
.navbar p {
    color: brown;
    padding-left: 15%;
}
/*Стили панели навигации при наведении мышью */
.navbar p:hover {
    color: aliceblue;
}


/*НАЧАЛО поле поиска трансляции по сайту*/
* {
    box-sizing: border-box;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}
input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}
    input:hover {
        background-color: yellow;
    }
#searchButton {
    position: absolute;
    top: 0;
    right: 0px;
    width: fit-content;
    font: x-large;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
/*КОНЕЦ поле поиска трансляции по сайту*/

/*НАЧАЛО кнопки навигации по сайту*/
#asideLower button {
    display: block;
    width: 100%;
    height: 40px;
    border: 2px solid red;
    border-left: none;
    border-right: none;
    margin: 0;
}
#asideUpper {
    height: 70px;
}
#asideLower, #asideUpper{
    padding: 0;
    margin: 0;
}
/*КОНЕЦ кнопки навигации по сайту*/

