<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../wwwroot/CSS/MainPage.css" rel="stylesheet" type="text/css">
    <!--script src="../wwwroot/JS/MainPage.js" rel="script" type="text/javascript"></script-->
</head>

<body>
    <!--Хедер страницы находится сразу над тегом body-->
    <header id="headerForTest">
        <!--Заголовок страницы-->
        <h1>Big Brother is watching!</h1>
        <!--Параграф-->
        <p id="headerP"></p>
        <script>
            var date = new Date();
            var year = date.getFullYear();
            var month = date.getMonth();
            var day = date.getDay();
            document.getElementById("headerP").innerHTML = Покажем, что происходит прямо сейчас!(сегодня " + " " + day + "." + month + "." + year + ")";
        </script>
        <form>
            <input type="text" placeholder="Поиск трансляции по сайту">
            <button id="searchButton" type="submit">Найти</button>
        </form>
    </header>
    <!--Сайд-бар страницы (пока все ссылки ведут на главную)-->
    <div id="asideMain">
        <!--SIDEBAR-->
        <main>
            <div class="bordered">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
                </div>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
                </div>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 class="video-title">Лондон, автобусный маршрут</h3>
                </div>

            </div>
        </main>
    </div>
    <!--FOOTER-->
</body>

</html>