<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../wwwroot/CSS/MainPage.css" rel="stylesheet" type="text/css">
    <script src="../wwwroot/JS/MainPage.js" rel="script" type="text/javascript"></script>
</head>

<body>
    <!--div id="allWindow">
        <div id="authWindow">
            Введите имя
            <input id="inputUserName" />
            Введите возраст
            <input id="inputUserAge" />
            <button id="enterButton" onclick="HandleSession(checker, logger);">Войти</button>
        </div>
    </div-->
    <script>
        handleSession(logger, checker /* Коллбек-функции */);
    </script>
    <header id="headerForTest">
        <h1>Big Brother is watching!</h1>
        <p id="headerP">
            <script>
                const date = new Date();
                const year = date.getFullYear();
                const month = date.getMonth() + 1;
                const day = date.getDate();
                const currentDate = day + "." + month + "." + year;
                document.getElementById("headerP").innerHTML = `Покажем, что происходит прямо сейчас! А на календаре у нас ${currentDate}`;
            </script>
        </p>
    </header>
        <div id="searchBar">
            <input id="inputMain" type="text" placeholder="Поиск трансляции по сайту" oninput="javascript: SeekAndShow();" size="50%" />

            <button id="searchButton" type="submit" onclick="">Найти</button>
        </div>
    <div id="asideMain">
        <!--SIDEBAR-->
        <main>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="Нью-Йорк" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="Санкт-Петербург" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="Лондон" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="video-title">Лондон, автобусный маршрут</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/w_DfTc7F5oQ" title="🔴 Venice Beach Live Camera · Los Angeles Live Stream · presented by the Venice V Hotel" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3 class="video-title">Лос-Анджелес, Venice Beach</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Mu0ts-GnNto" title="Online Camera Moscow Moskva river Веб-камера Москва река" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3 class="video-title">Москва, Вид на Москву-реку</h3>
            </div>
        </main>
    </div>
    <!--FOOTER-->

</body>

</html>