<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BigBrother</title>
    <link href="../wwwroot/CSS/TestingPage.css" rel="stylesheet" type="text/css">
    <script src="../wwwroot/JS/TestingPage.js" type="text/javascript"></script>
</head>
<body>
    <header id="headerForTest">
        <h1>Big Brother is watching! - тестовая страница</h1>
        <p>Здесь можно экспериментировать с кодом</p>
    </header>
        <div id="searchBar">
            <input id="inputMain" type="text" placeholder="Поиск трансляции по сайту" oninput="javascript: SeekAndShow();" size="50%" />

            <button id="searchButton" type="submit" onclick="SomethingInput()">Найти</button>
        </div>
    <div id="asideMain">
        <!--SIDEBAR-->
        <main>


        </main>
    </div>
    <!--FOOTER-->
</body>
</html>