<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BigBrother</title>
    <link href="../wwwroot/CSS/MainPage.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--Хедер страницы находится сразу над тегом body-->
    <header id="headerForTest">
        <h1>LifeSpot - тестовая страница</h1>
        <p>Здесь можно экспериментировать с кодом</p>
        
    </header>
    <!--Сайд-бар страницы (пока все ссылки ведут на главную)-->
    <div id="asideMain">
        <!--SIDEBAR-->
        <main>
            <div class="bordered">
                <input type="text" oninput="/* Обработчик ввода текста */" size=50%>

            </div>
        </main>
    </div>
    <!--FOOTER-->
</body>
</html>